# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
*.so
.Python

# Environment
.env
.env.local

# Logs
*.log

# Node
node_modules/
dist/


# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# FastAPI specific
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

# Logs
*.log
logs/
log/
